<template>
    <div id="map"></div>

    <!-- Added buttons to update colors based on year, diameter, and material, and also to update pipe year-->
    <div id="button-container">
       <div class="text-align-left">
        <label>Choose to update color based on:</label>
        <button @click="updateColorYr" title="Click to update color of pipes based on year">Year</button>
        <button @click="updateColorDia" title="Click to update color of pipes based on diameter">Diameter</button>
        <button @click="updateColorMat" title="Click to update color of pipes based on material">Material</button>
       </div>
       <div class="text-align-left">
        <label>Choose to update Pipe's Year:</label>
        <button @click="updatePipeYr" title="Click to update pipe's year">Update Pipe</button>
        <div v-if="showPipeUpdateMsg" id="pipe-msg">The pipe with id {{ pipeId }} is updated from year {{ oldYr }} to {{ newYr }}</div>
      </div>
    </div>

    <!-- Added Legend for specifying colors for year, diameter, and material -->
    <div class="legend">
      <div>
        <h4>Year</h4>
        <div>
          <span style="background-color: #723122" class="legend-key"></span>
          <span class="legend-label">2020</span>
        </div>
        <div>
          <span style="background-color: #8b4225" class="legend-key"></span>
          <span class="legend-label">2010</span>
        </div>
        <div>
          <span style="background-color: #a25626" class="legend-key"></span>
          <span class="legend-label">2000</span>
        </div>
        <div>
          <span style="background-color: #b86b25" class="legend-key"></span>
          <span class="legend-label">1990</span>
        </div>
        <div>
          <span style="background-color: #ca8323" class="legend-key"></span>
          <span class="legend-label">1980</span>
        </div>
        <div>
          <span style="background-color: #da9c20" class="legend-key"></span>
          <span class="legend-label">1970</span>
        </div>
        <div>
          <span style="background-color: #e6b71e" class="legend-key"></span>
          <span class="legend-label">1960</span>
        </div>
      </div>
      <div>
        <h4>Diameter</h4>
        <div>
          <span style="background-color: #483D8B" class="legend-key"></span>
          <span class="legend-label">1 - 3</span>
        </div>
        <div>
          <span style="background-color: #7B68EE" class="legend-key"></span>
          <span class="legend-label">4 - 5</span>
        </div>
        <div>
          <span style="background-color: #00BFFF" class="legend-key"></span>
          <span class="legend-label">6 - 7</span>
        </div>
        <div>
          <span style="background-color: #1E90FF" class="legend-key"></span>
          <span class="legend-label">8 - 9</span>
        </div>
        <div>
          <span style="background-color: #6495ED" class="legend-key"></span>
          <span class="legend-label">10 - 19</span>
        </div>
        <div>
          <span style="background-color: #4169E1" class="legend-key"></span>
          <span class="legend-label">20 - 29</span>
        </div>
        <div>
          <span style="background-color: #00008B" class="legend-key"></span>
          <span class="legend-label">30+</span>
        </div>
      </div>
      <div>
        <h4>Material</h4>
        <div>
          <span style="background-color: #ADFF2F" class="legend-key"></span>
          <span class="legend-label">0</span></div>
        <div>
          <span style="background-color: #9ACD32" class="legend-key"></span>
          <span class="legend-label">1</span>
        </div>
        <div>
          <span style="background-color: #32CD32" class="legend-key"></span>
          <span class="legend-label">2</span>
        </div>
        <div>
          <span style="background-color: #6B8E23" class="legend-key"></span>
          <span class="legend-label">3</span>
        </div>
        <div>
          <span style="background-color: #006400" class="legend-key"></span>
          <span class="legend-label">4+</span>
        </div>
      </div>
    </div>
</template>

<script>
import mapboxgl from "mapbox-gl";
import json from "../assets/pipes.json";

export default {
  name: 'PipeMap',
  data() {
    return {
      accessToken: 'pk.eyJ1IjoiZnJhY3RhdGVzdHMiLCJhIjoiY2tnaWd3NW10MDAzNDJzcnJuNzVrNGd5cSJ9.6pV_QFxNJE22pj4-uKCjpQ',
      pipeId: 0,
      showPipeUpdateMsg: false,
      oldYr: 0,
      newYr: 0
    }
  },
  mounted() {
    this.createMap();
  },
  methods: {
    createMap() {
        mapboxgl.accessToken = this.accessToken;
       
        this.map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/light-v10',
          center: [-122.278, 37.56], // starting position
          zoom: 10,
          minzoom: 9,
          maxzoom: 18
        });
        
        this.map.addControl(new mapboxgl.FullscreenControl());
        this.map.on('load', () => {
              this.map.addSource('route', {
            type: "geojson",
            data: json,
            maxzoom: 12,
            buffer: 0
        });
        this.map.addLayer({
            id: "route",
            type: "line",
            source: "route",
            paint: {
                "line-color": "red",
                "line-width": 10
            },
            layout: {
              "line-cap": "round", 
              "line-join": "round"
            }
        });
     });
    },
    updateColorYr() {
      this.showPipeUpdateMsg = false;
      this.map.setPaintProperty('route', 'line-color', [
          "case", 
          ['>=', ['get', "year"], 2020], "#8B0000", 
          ['>=', ['get', "year"], 2010], "#FF4500",
          ['>=', ['get', "year"], 2000], "#B22222",
          ['>=', ['get', "year"], 1990], "#DC143C",
          ['>=', ['get', "year"], 1980], "#CD5C5C",
          ['>=', ['get', "year"], 1970], "#F08080",
          ['>=', ['get', "year"], 1960], "#FFA07A",
          '#FF0000'
        ]);
    },
    updateColorDia() {
      this.showPipeUpdateMsg = false;
      this.map.setPaintProperty('route', 'line-color', [
        "case",
        ['>=', ['get', 'diameter'], 30], "#00008B",
        ['>=', ['get', 'diameter'], 20], "#4169E1",
        ['>=', ['get', 'diameter'], 10], "#6495ED",
        ['>=', ['get', 'diameter'], 8], "#1E90FF",
        ['>=', ['get', 'diameter'], 6], "#00BFFF",
        ['>=', ['get', 'diameter'], 4], "#7B68EE",
        ['>=', ['get', 'diameter'], 1], "#483D8B",
        "#0000ff"
      ]);
    },
    updateColorMat() {
      this.showPipeUpdateMsg = false;
      this.map.setPaintProperty('route', 'line-color', [
        "case",
        ['>=', ['get', 'material_type_code'], 4], "#006400",
        ['==', ['get', 'material_type_code'], 3], "#6B8E23",
        ['==', ['get', 'material_type_code'], 2], "#32CD32",
        ['==', ['get', 'material_type_code'], 1], "#9ACD32",
        ['==', ['get', 'material_type_code'], 0], "#ADFF2F",
        "#008000"
      ]);
    },
    updatePipeYr() {
      let min = 1960;
      let max = 2020;
      let randomId = Math.floor(Math.random() * json.features.length + 1);
      let randomYr = Math.floor(Math.random() * (max - min) + 1) + min;

      this.oldYr = json.features[randomId - 1].properties.year;
      json.features[randomId - 1].properties.year = randomYr;
      this.newYr = randomYr;
      this.map.getSource('route').setData(json);
      this.pipeId = randomId;
      this.showPipeUpdateMsg = true;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#map { 
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; 
}

#button-container {
  position: absolute;
  top: 10px;
  left: 10px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 5px;
  border-radius: 4px;
  background-color: #fff;
}

#button-container button {
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  background-color: #444;
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
}

#button-container label {
  margin-right: 5px;
}
.text-align-left {
  text-align: left;
}

#pipe-msg {
  display: inline;
  font-size: 14px;
  color: #ff0000;
  margin: 5px;
}

.legend {
  display: flex;
  background-color: #fff;
  border-radius: 3px;
  bottom: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 10px;
  position: absolute;
  right: 10px;
}
 
.legend h4 {
  margin: 0 0 10px;
}
 
.legend-key {
  border-radius: 20%;
  display: block;
  float: left;
  height: 10px;
  margin: 4px;
  width: 10px;
}

.legend-label {
  display: table;
}

.legend > div {
  margin: 5px;
}
</style>